.coin_count,body{
    font-family:'Open Sans',sans-serif
}
.abt-txt,.cancel-btn{
    text-decoration:underline
}
.cd_amount,.coin_tab ul li .active,.coint-txt-bold,.contact,.country select,.main_nav span a,.price-bold,a.add-to-portfolio,a.coin-follow,a.coin-unfollow,p.collapse_nav_price{
    font-weight:700
}
a{
    color:#9E9E9E
}
.container-fluid{
    padding:0
}
.sticky{
    position:fixed;
    top:0;
    width:100%
}
.role-txt{
    background:#000;
    padding:0 10px;
    color:#fff;
    font-size:16px
}
.role-topic_twit{
    width:100%;
    border-bottom:1px solid #fff;
    line-height:.1em;
    margin:10px 0 20px
}
.containg-text{
    border-top:40px solid #1cc8fc;
    border-bottom:40px solid transparent;
    border-left:40px solid transparent;
    width:0;
    height:0;
    position:absolute;
    right:0
}
;
 .coin-tag{
    left:25px
}
.btcnum{
    width:100%;
    word-break:break-word;
    font-size:13px;
    padding-bottom:20px
}
.ltcnum{
    margin-top:10px
}
.btcadd{
    font-size:12px;
    background-color:#753ac8;
    color:#fff;
    padding:5px 10px;
    cursor:pointer;
    margin:0 30px 0 0
}
.donate-tmp{
    background-color:#FFEB3B;
    padding:10px;
    width:30%;
    position:fixed;
    z-index:999999999;
    bottom:40px;
    left:36px
}
.change,.logo,.main_nav,.market_cap,.price{
    position:relative
}
.flash{
    padding:20% 0
}
.sticky+.content{
    padding-top:60px
}
.coin_dist{
    margin:15px 0 0
}
.coin_list span{
    font-size:14px
}
.coin_img,.coin_img img{
    width:25px;
    margin-right:5px;
    border-radius:30px
}
.coin_merge span{
    font-size:13px
}
.crypto-assets-txt{
    font-size:18px;
    margin-top:8px
}
.watch-list-txt{
    float:left;
    width:11%
}
.coin_merge a{
    font-size:12px
}
.coin_count{
    margin-right:6px;
    width:25px;
    display:block;
    float:left
}
.coin_fav{
    margin-left:15px
}
.coin_list{
    padding-bottom:2px;
    border-bottom:1px solid #eee
}
.coin_hr{
    width:60%;
    float:left;
    font-size:14px
}
.logo{
    width:259px;
    top:12px;
    left:24px
}
.main_nav span a{
    font-size:15px;
    color:#9E9E9E
}
.bit-txt,.tog{
    font-size:14px
}
.coint-txt-purple,.main_nav span .active,.main_nav span a:hover{
    color:#753ac8
}
.main_nav{
    top:24px
}
.bg_alg2-profile{
    padding:18px!important
}
.c_depth{
    width:100%
}
.tog{
    width:20%;
    float:left
}
.tog a{
    color:#fff
}
.price{
    left:6px
}
.market_cap{
    left:13px
}
.change{
    left:20px
}
. #mobile_img{
    display:none
}
.desktop-marg{
    margin:0 auto
}
.founder-txt{
    padding:0 20%
}
.form-control:focus{
    border-color:#753ac8!important;
    box-shadow:0 0 0 1px #753ac8!important
}
.triangle-down{
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #000;
    margin:-36px 0 36px
}
.profile-actions a.add-to-portfolio,.profile-actions a.coin-follow,.profile-actions a.coin-unfollow{
    line-height:25px
}
.profile-action{
    padding:40px 0
}
a.add-to-portfolio,a.coin-follow,a.coin-unfollow{
    display:block;
    position:relative;
    background:#000;
    padding-left:50px;
    padding-right:10px;
    color:#FFF;
    border-radius:4px;
    line-height:30px;
    text-align:center;
    border:1px solid transparent;
    font-size:14px;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -o-transition:all .4s ease
}
a.coin-follow .fa{
    background:#3c3c3c;
    color:#fff
}
.profile-actions a.add-to-portfolio .fa,.profile-actions a.coin-follow .fa,.profile-actions a.coin-unfollow .fa{
    line-height:25px;
    height:25px
}
a.add-to-portfolio .fa,a.coin-follow .fa,a.coin-unfollow .fa{
    position:absolute;
    display:block;
    height:30px;
    width:40px;
    left:0;
    text-align:center;
    line-height:30px;
    border-radius:4px 0 0 4px
}
.twitter-cs-box{
    margin-top:100px!important
}
a.coin-follow:hover{
    border:1px solid #3c3c3c
}
a.coin-follow:focus,a.coin-follow:hover,a.coin-unfollow:focus,a.coin-unfollow:hover{
    color:#FFF
}
.key-text label,.key-text small{
    margin:0!important
}
.input-lg1{
    padding:.375rem 3rem
}
.cancel-btn{
    padding:0 30px;
    color:#007bff
}
.sve-btn{
    margin:30px 0
}
.box-panel{
    background:#555858
}
.box.box-info{
    border-top-color:#FFEB3B;
    padding:20px
}
.form-control{
    border:1px solid #753ac8!important;
    border-radius:0!important
}
.btn{
    border-radius:0!important
}
.keypeopleData{
    background:#FFEB3B;
    padding:20px;
    height:380px;
    width:500px
}
.box,.eleborder,img.img-rounded{
    background:#fff
}
.containg-profile{
    border-right:25px solid #FFEB3B;
    border-bottom:25px solid transparent;
    border-top:25px solid transparent;
    width:0;
    height:0;
    position:absolute;
    left:0;
    top:52px
}
.abt-txt,.animate-bottom,.back,.box,.btc_prize,.cd_bit_top .coin_name,.coin_name .fa-heart,.coin_sh,.donate-txt,.verify,group,p.btc_txt{
    position:relative
}
.name-txt{
    padding:25px 15px
}
.add-txt{
    padding:35px 0
}
.key-padd{
    padding:0 0 20px
}
.box{
    border-radius:3px;
    border-top:15px solid #753ac8;
    margin-bottom:20px;
    width:100%
}
.eleborder{
    margin-bottom:10px
}
#loaderkeypeople,#loaderkeypeople1{
    position:absolute;
    left:50%;
    top:35%;
    z-index:1;
    border:7px solid #f3f3f3;
    border-radius:50%;
    border-top:7px solid #753ac8;
    width:50px;
    height:50px;
    -webkit-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    margin:0
}
img.img-rounded{
    border-radius:50%;
    margin-top:15px;
    margin-bottom:15px;
    width:80px;
    height:80px;
    padding:2px
}
.vertical-line{
    width:0;
    height:100%;
    float:left;
    border:1px solid #753ac8;
    margin-top:55px
}
.match-text{
    margin-top:20px;
    font-weight:700
}
@media (min-width:768px) and (max-width:1024px){
    .desktop-marg{
        margin:0 auto
    }
    #mobile_img{
        display:none!important
    }
    .watch-list-txt{
        float:left;
        width:20%
    }
}
@media (min-width:320px) and (max-width:767px){
    .desktop-marg{
        margin:0 auto
    }
    #mobile_img{
        display:block!important
    }
    .watch-list-txt{
        float:left;
        width:45%
    }
    .bg_alg2-profile{
        padding:18px 10px!important
    }
    #desktop_img{
        display:none
    }
}
.twits::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    border-radius:10px;
    background-color:#000
}
.twits::-webkit-scrollbar{
    width:12px;
    background-color:#000
}
.twits::-webkit-scrollbar-thumb{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#753ac8
}
.card{
    background-color:#000;
    background-clip:border-box;
    border:0;
    border-radius:0;
    padding:.5rem 1rem
}
.tog p{
    padding-bottom:0;
    margin-bottom:0;
    color:#fff
}
.fa-angle-double-up{
    color:green
}
.fa-angle-double-down{
    color:red
}
p.collapse_nav_htl{
    color:#fff;
    font-size:13px
}
p.collapse_nav_price{
    color:#fff
}
.bg-light{
    background-color:#000!important
}
.c_up{
    color:green
}
.c_down{
    color:red
}
footer .row{
    margin:5px 0
}
footer{
    padding:5px 1px
}
.donate-txt{
    top:-3px
}
.donate-fa-caret-up{
    font-size:24px;
    padding:0
}
.abt-txt{
    top:-5px
}
.crypto-api{
    float:right;
    margin:5px 10px 0
}
.contact{
    font-size:14px;
    color:#753ac8;
    background-color:#FFEB3B;
    padding:10px 10px 5px;
    margin:20px 40px 20px 20px
}
.contact:hover{
    color:#753ac8;
    text-decoration:none
}
.country{
    float:left;
    padding:0
}
.country select{
    font-size:15px;
    background:#FFEB3B;
    color:#753ac8;
    padding:6px 0;
    border-left:8px solid #FFEB3B;
    border-right:6px solid #FFEB3B;
    border-top:1px solid #FFEB3B;
    border-bottom:1px solid #FFEB3B
}
.provider{
    font-size:14px;
    color:#9e9e9e
}
.api{
    text-align:center;
    padding-bottom:0;
    margin:0;
    display:none
}
.coin_sh{
    font-size:11px!important;
    left:67px;
    bottom:12px
}
.cd_bit_top .coin_name{
    font-size:26px!important;
    top:10px;
    color:#fff
}
#loader{
    position:absolute;
    left:50%;
    top:50%;
    z-index:1;
    border:10px solid #f3f3f3;
    border-radius:50%;
    border-top:10px solid #753ac8;
    width:75px;
    height:75px;
    -webkit-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    margin:0
}
.coin_tab ul li .active,.coin_tab ul li a:hover{
    color:#753ac8;
    border-bottom:2px solid #753ac8
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@keyframes spin{
    0%{
        transform:rotate(0)
    }
    100%{
        transform:rotate(360deg)
    }
}
.animate-bottom{
    -webkit-animation-name:animatebottom;
    -webkit-animation-duration:1s;
    animation-name:animatebottom;
    animation-duration:1s
}
@-webkit-keyframes animatebottom{
    from{
        bottom:-100px;
        opacity:0
    }
    to{
        bottom:0;
        opacity:1
    }
}
@keyframes animatebottom{
    from{
        bottom:-100px;
        opacity:0
    }
    to{
        bottom:0;
        opacity:1
    }
}
.coin_tab ul li a:hover i{
    color:#753ac8!important
}
.coin_tab ul li a{
    padding:10px 0;
    color:#9E9E9E;
    margin:0 20px
}
.coin_tab,.tab-content{
    margin-top:25px
}
.no-gutters,.row{
    margin-right:0;
    margin-left:0
}
.coin_tab ul li .active .fa{
    color:#753ac8
}
.coin_tab ul li a .fa{
    color:#9E9E9E
}
.nav-tabs{
    border-bottom:none
}
.inner_border{
    height:5px
}
a:hover{
    text-decoration:none;
    color:#753ac8
}
.cd_ind_coin{
    width:56px!important;
    position:relative;
    top:-6px;
    background-color:#fff;
    left:14px;
    border:2px solid #fff
}
.coin_name{
    font-size:14px
}
.cd_coin_sh{
    top:37px!important;
    left:-34px;
    color:#fff
}
.btc_prize{
    left:31px;
    bottom:9px
}
p.btc_txt{
    top:6px
}
.cd_coin_1l{
    border-left:none!important
}
.cd_coin_1r{
    border-right:none!important
}
.btc_txt{
    font-size:13px!important;
    color:#fff!important
}
.cd_inner_bg{
    height:25px;
    background-color:#EDF4F5!important
}
.coin_name .fa-heart{
    font-size:17px;
    bottom:8px
}
.cd_value_diff p{
    margin-bottom:0;
    color:#555858;
    font-size:12px
}
.cd_amount{
    font-size:16px!important
}
.com_mar_bot{
    margin-bottom:50px!important
}
.user{
    width:35px;
    border-radius:50px;
    border:2px solid #ddd
}
.cd_bg{
    background:#fff;
    border-radius:10px;
    padding-bottom:30px;
    padding-top:30px;
    margin-top:10px
}
.cd_box{
    margin:0;
    padding:20px 4px
}
.black_box{
    background:#000;
    padding:9px 4px
}
.coin_txtsize{
    font-size:11px;
    color:#ccc
}
.follow_link{
    color:#000!important;
    font-size:16px!important;
    padding:0
}
.follow_link a{
    color:#000;
    text-decoration:underline
}
.follow_link a:hover{
    color:#753ac8
}
.b_r_none{
    border-right:none
}
li{
    list-style:none
}
.cd_align_center{
    text-align:center
}
.cd_market_h{
    margin-bottom:15px
}
.back{
    top:12px
}
.cd_main_bg{
    background:#fff
}
.table-bordered td,.table-bordered th{
    border-bottom:none!important;
    border-right:1px solid #fff!important;
    border-left:1px solid #fff!important;
    border:1px solid #753ac8
}
.cd_main_fn th span{
    font-size:22px;
    color:#4E5C6E;
    font-weight:400
}
#menu2 h5{
    margin-top:40px;
    margin-bottom:20px
}
.btn-secondary{
    color:#fff;
    background-color:#753ac8!important;
    border-color:#753ac8!important;
    box-shadow:none!important
}
.dc_history p{
    font-size:12px;
    line-height:8px
}
.cd_main_fn th{
    padding:10px;
    text-align:center;
    vertical-align:center!important
}
.dc_links li a{
    color:#000;
    font-size:14px;
    line-height:28px
}
.dc_links{
    padding:0
}
.social_heading{
    font-size:22px;
    margin-top:4px;
    color:#753ac8
}
.dc_links li a:hover{
    color:#753ac8
}
.grad_bg{
    background:linear-gradient(#fff,#753ac8);
    border-top:1px solid #ccc
}
h6{
    font-size:15px;
    line-height:19px;
    color:#fff
}
.twit{
    width:15px
}
.no-gutters{
    padding-left:4px!important
}
.dc_twt_ico a{
    padding:6px
}
.twits_horiz{
    height:350px;
    overflow-y:scroll;
    overflow-x:hidden;
    width:100%
}
.twits_vertic{
    max-height:290px;
    overflow-x:scroll;
    overflow-y:hidden;
    max-width:100%
}
.user_ad{
    padding:10px
}
.user_ad a{
    font-size:13px
}
.danger{
    color:#dc3545
}
.user_ad .input-group-prepend{
    padding:7px 12px;
    background:#753ac8
}
.box_p{
    font-size:18px;
    color:#fff
}
.btn-purple{
    background:#753ac8;
    color:#fff
}
.over_bg_purple{
    background:#753ac8;
    padding:30px 0
}
.over_bg_black{
    background:#000;
    padding:30px 0
}
.font-weight-light{
    font-weight:300!important;
    font-size:13px
}
.badge_red{
    background:#ae0e1e;
    padding:0 5px
}
.badge_green{
    background:#00803a;
    padding:0 5px
}
.over_bg_block{
    background:#000;
    padding:12px 0;
    color:#fff
}
.over_bg_block h5,.over_bg_block p{
    color:#fff
}
.over_bg_block h5 a{
    color:#fff;
    font-size:25px
}
.link_box{
    padding:5px;
    margin-bottom:5px;
    background:#212121
}
.topic_twit{
    padding-bottom:5px;
    display:block;
    font-weight:400;
    color:#fff!important
}
.table thead th{
    vertical-align:bottom;
    border-bottom:1px solid #753ac8
}
.table td,.table th{
    padding:.75rem;
    vertical-align:top;
    border-top:1px solid #753ac8
}
.cd_hours{
    text-align:center;
    margin-bottom:30px;
    margin-top:30px
}
.cd_hours a{
    color:#fff;
    font-size:14px;
    padding:5px 25px;
    background:#753ac8;
    margin:0 8px
}
.highcharts-background{
    background:#F3E5F5
}
.adv_2{
    border-top:1px dashed #212529;
    margin-top:10px;
    margin-bottom:14px
}
.adv_2 p{
    margin-top:5px
}
.cd_hours a:hover,.cd_hours_active{
    color:#fff!important;
    border:1px solid #fff;
    background:#000!important
}
.cd_bit_top{
    margin-bottom:5px
}
.badge{
    color:#fff!important;
    padding:5px 10px;
    font-size:10px;
    margin:5px
}
.fa-check-circle,.verify .fa{
    color:#1cc8fc!important
}
.padge_row{
    margin-bottom:35px;
    padding-bottom:35px;
    border-bottom:1px solid #753ac8
}
.badge-yellow{
    background-color:#fffb00
}
.badge-pink{
    background-color:#ff40ff
}
.badge-blue{
    background-color:#00fdff
}
.verify{
    left:26px;
    font-size:13px;
    margin-top:10px;
    font-weight:700
}
.c_rad{
    border-radius:50px
}
.c_right{
    border-right:1px solid #753ac8
}
.fa-check-circle{
    font-size:18px
}
.table thead tr th{
    border-top:1px solid #fff;
    border-bottom:3px solid #753ac8
}
@media (max-width:575px){
    .back,.logo{
        position:relative;
        left:12px
    }
    .coin_count{
        margin-right:6px;
        font-family:'Nunito Sans',sans-serif;
        width:19px;
        display:block;
        float:left
    }
    .api{
        display:block;
        padding-top:0;
        border-top:1px solid #ddd
    }
    .coin_cap,.hidden-xs-down{
        display:none
    }
    .container{
        padding-right:8px;
        padding-left:8px
    }
    .coin_hr,.coin_list span{
        font-size:12px
    }
    .main_nav span a{
        font-size:13px
    }
    .coin_img,.coin_img img{
        width:15px;
        margin-right:0
    }
    .coin_fav{
        margin-left:15px;
        font-size:14px
    }
    .col-4{
        padding:0
    }
    .main_nav{
        position:relative;
        top:7px;
        text-align:right;
        float:right
    }
    .cd_mob_al,.tog{
        text-align:center
    }
    .sticky-top .navbar{
        padding:2px
    }
    .tog{
        font-size:11px;
        width:33%
    }
    .logo{
        width:50px;
        top:3px
    }
    .figure{
        margin:0;
        width:20%
    }
    footer .col-4{
        padding:0 5px 0 15px
    }
    .contact{
        font-size:13px
    }
    .back{
        font-size:12px;
        top:4px
    }
    .coin_tab ul li a{
        padding:10px 8px;
        font-size:13px
    }
    .cd_mob_al{
        margin-top:-30px
    }
    .cd_amount{
        font-size:13px!important;
        font-weight:700
    }
    .cd_pad_mob{
        padding:0 15px!important
    }
}
@media (min-width:576px) and (max-width:991px){
    .logo,.main_nav{
        position:relative
    }
    .logo{
        width:225px;
        top:5px;
        left:8px
    }
    .figure{
        margin:0;
        width:30%
    }
    .top{
        text-align:center
    }
    .main_nav{
        top:14px;
        text-align:right;
        width:70%;
        float:right
    }
}
@media (min-width:1200px){
    .hidden-sm-up{
        display:none!important
    }
    .col-2 img.img-fluid{
        width:110px;
        border-radius:30px
    }
}
.search-bar{
    border-radius:100px;
    background:#fff;
    box-shadow:0 0 5px rgba(0,0,0,.15);
    padding:5px 5px 5px 30px;
    margin-top:23px
}
group{
    margin-bottom:0
}
.search-bar .rightLine::after{
    content:'';
    display:block;
    height:60%;
    width:1px;
    background:#ddd;
    position:absolute;
    top:20%;
    right:0
}
.search-bar .form-group label{
    position:absolute;
    top:50%;
    right:15px;
    cursor:pointer;
    transform:translateY(-50%);
    color:#aaa;
    font-size:.8em
}
input:focus{
    outline:0
}
.search-bar .submit{
    background:#753ac8!important;
    color:#fff;
    border-radius:100px;
    font-size:14px;
    cursor:pointer
}
.search-bar .bootstrap-select,.search-bar input{
    background:0 0;
    border:none;
    width:100%
}
.search-bar .bootstrap-select{
    width:100%!important;
    padding:0
}
.search-bar .bootstrap-select button{
    background:0 0!important;
    outline:0!important;
    box-shadow:none;
    color:#aaa;
    font-weight:300;
    border:0;
    width:100%;
    text-align:left;
    padding:0
}
.media-left,.media>.pull-left{
    padding-right:10px
}
.result-bucket li{
    padding:7px 15px
}
.instant-results{
    background:#fff;
    width:50%;
    color:gray;
    position:absolute;
    top:65px;
    left:25%;
    border:1px solid rgba(0,0,0,.15);
    border-radius:4px;
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.175);
    box-shadow:0 2px 4px rgba(0,0,0,.175);
    display:none;
    z-index:9999;
    float:left
}
.form-search{
    transition:all .2s ease-out;
    -webkit-transition:all .2s ease-out;
    -ms-transition:all .2s ease-out
}
.search-form{
    position:relative;
    max-width:100%
}
.result-link{
    color:#4f7593
}
.result-link .media-body{
    font-size:13px;
    color:gray
}
.result-link .media-heading{
    font-size:15px;
    font-weight:400;
    color:#4f7593
}
.result-link:hover,.result-link:hover .media-body,.result-link:hover .media-heading{
    text-decoration:none;
    color:#4f7593
}
.result-link .media-object{
    width:50px;
    padding:3px;
    border:1px solid #c1c1c1;
    border-radius:3px
}
.result-entry+.result-entry{
    border-top:1px solid #ddd
}
#modal1{
    padding-right:0!important
}
.paypal_img{
    width:30%
}
ul.tsc_pagination{
    padding:0;
    height:100%;
    overflow:hidden;
    font:12px;
    list-style-type:none
}
ul.tsc_pagination li{
    float:left;
    margin:0 0 0 5px;
    padding:0
}
ul.tsc_pagination li:first-child{
    margin-left:0
}
ul.tsc_pagination li a{
    color:#000;
    display:block;
    text-decoration:none;
    padding:7px 10px
}
ul.tsc_pagination li a img{
    border:none
}
ul.tsc_paginationC li a{
    color:#707070;
    background:#FFF;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid #DCDCDC;
    padding:6px 9px
}
ul.tsc_paginationC li{
    padding-bottom:1px
}
ul.tsc_paginationC li a.current,ul.tsc_paginationC li a:hover{
    color:#FFF;
    box-shadow:0 1px #EDEDED;
    -moz-box-shadow:0 1px #EDEDED;
    -webkit-box-shadow:0 1px #EDEDED
}
ul.tsc_paginationC01 li a.current,ul.tsc_paginationC01 li a:hover{
    color:#893A00;
    text-shadow:0 1px #FFEF42;
    border-color:#FFA200;
    background:#FFC800;
    background:-moz-linear-gradient(top,#FFF 1px,#FFEA01 1px,#FFC800);
    background:-webkit-gradient(linear,0 0,0 100%,color-stop(.02,#FFF),color-stop(.02,#FFEA01),color-stop(1,#FFC800))
}
ul.tsc_paginationC li a.In-active{
    pointer-events:none;
    cursor:default
}
.col-xs-12.col-lg-12.coin_lists.div_hoer{
    z-index:1020!important
}
div#suggesstion-box{
    margin-top:3px
}
input[type=text]#coin_name:focus{
    border:1px solid #6200EA!important;
    background-image:url(../img/search-13-16.png)!important;
    background-position:6px 8px!important
}
.search{
    width:250px;
    box-sizing:border-box;
    border:1px solid #ccc!important;
    background-color:#fff;
    background-image:url(../img/searchicon.png)!important;
    background-position:3px 3px!important;
    background-repeat:no-repeat!important;
    padding:7px 20px 7px 30px;
    font-size:13px;
    margin-right:20px;
    font-weight:400
}
.figure a:hover{
    color:#9E9E9E
}
.logo-text{
    padding:0 30px;
    font-size:16px;
    position:relative;
    top:12px
}
.wallet_b a::after{
    content:"";
    background:#FFEB3B;
    height:5px;
    position:absolute;
    width:100%;
    left:0;
    bottom:-1px;
    transition:all 250ms ease 0s;
    transform:scale(1)
}
.wallet_bl{
    display:flex;
    align-items:center;
    max-width:14%;
    margin-right:20px
}
.txt_wallet{
    color:#FFEB3B
}
.wallet_txtbg{
    background:#000
}
.wallet_following{
    background:#FFEB3B;
    color:#000;
    font-weight:700;
    padding:2px 10px;
    margin:0 0 0 60%
}
.addwallet{
    display:flex;
    align-items:center
}
.watch_tooltips{
    position:relative;
    display:inline
}
.watch_tooltips span{
    position:absolute;
    width:250px;
    color:#000;
    border:1px solid #753ac8;
    line-height:30px;
    text-align:center
}
.watch_tooltips span:after{
    content:'';
    position:absolute;
    bottom:100%;
    left:10%;
    margin-left:-8px;
    width:0;
    height:0;
    border-bottom:8px solid #753ac8;
    border-right:8px solid transparent;
    border-left:8px solid transparent
}
.watch_tooltips span{
    top:30px;
    left:50%;
    margin-left:-76px;
    z-index:999;
    background:#fff
}
.watch_tooltips span ul{
    margin:0;
    padding:10px 0;
    float:left;
    width:100%
}
.watch_tooltips span ul li:first-child{
    padding:0 10px
}
.watch_tooltips span ul li{
    float:left;
    list-style:none;
    font-size:13px
}
.watch_hover:hover{
    background-color:#F3E5F5;
    width:100%;
    float:left
}
.watch_hover{
    color:#000
}
.watch_tool{
    margin-left:58px;
    visibility:hidden;
    opacity:1;
    z-index:9999999;
    position:absolute;
    bottom:100%;
    background-color:#fff;
    top:25px
}
.watch_heart:hover .watch_tool{
    visibility:visible;
    opacity:1;
    z-index:1019
}
